/* .App {
  text-align: center;
} */
body {
  margin: 20px 40px;
}

.job {
  font-size: 1.2em;
  background-color: #e6eefa;
  margin: 0 auto;
  width: 80%; 
  padding: 20px 12px;
  margin: 20px 0;
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 150px; */
  justify-content: space-between;
  align-items: center;
}

.job:hover {
  cursor: pointer;
  color: #666666;
}

.detail-logo {
  height: 33px;
  float: right;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 30px;
}